<!--https://vimeo.com/218865219/settings-->

<!--<navbar></navbar>-->

<form>


<div class="total-container">total-container
    <div class="top-banner">top-banner
        <div class="title">Welcome home, Chuck!
            <div class="subtitle">The staff posted "Staff Pick Premiere: krump is a way of life” in Now Playing on the blog."
                
            </div>
        </div>
    </div>
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<div class="main-container">
    
    <div class="top-menu">
        <ul>
            <li>My Feed</li>
            <li>My Videos</li>
            <li>Trending</li>
            <li>Activity</li>
        </ul> 
    </div>
5908p9
    <div class="sort-container">
        <ul>Sort:
            <li>Date</li>
            <li>Alphabetical</li>
            <li>Plays</li>
            <li>Likes</li>
            <li>Comments</li>
            <li>Duration</li>
        </ul>
    </div>









</form>


</div>














            <button type="link">Upload a Video</button>
</div>

<footerDir></footerDir>