<div class= "outer-container">
    <div class= "inner-container">
        <div>
            <ul class= "title">Vimeo
                <li class= "link">About Vimeo</li>
                <li class= "link">Vimeo Blog</li>
                <li class= "link">Vimeo Guidelines</li>
                <li class= "link">Developers</li>
                <li class= "link">Jobs</li>
            </ul>
        </div>

        <div>
            <ul class= "title">Help
                <li class= "link">Help Center</li>
                <li class= "link">Video School</li>
                <li class= "link">FAQ</li>
                <li class= "link">Forums</li>
            </ul>
        </div>

        <div>
            <ul class= "title">More
                <li class= "link">On Demand</li>
                <li class= "link">Everywhere</li>
                <li class= "link">Upload</li>
                <li class= "link">Site Map</li>
            </ul>
        </div>

        <div>
            <ul class= "title">Upgrade
                <li class= "link">Vimeo</li>
                <li class= "link">Vimeo PRO</li>
                <li class= "link">Vimeo Buiness</li>
                <li class= "link">Refer A Friend</li>
            </ul>
        </div>

    </div>


    
<div class = "bottom-box">


</div>
        
</div>









<!--<div class= "9"></div>

<div class= "10"></div>

<div class= "11"></div>

<div class= "12"></div>

<div class= "13"></div>

<div class= "14"></div>

<div class= "15"></div>

<div class= "16"></div>-->

