<div class= "outer-container">
    <div class= "inner-container">
        <div>
            <ul class= "title">Vimeo</ul>
            <li class= "link-list">About Vimeo</li>
            <li class= "link-list">Vimeo Blog</li>
            <li class= "link-list">Vimeo Guidelines</li>
            <li class= "link-list">Developers</li>
            <li class= "link-list">Jobs</li>
        </div>

        <div>
            <ul class= "title">Help</ul>
            <li class= "link-list">Help Center</li>
            <li class= "link-list">Video School</li>
            <li class= "link-list">FAQ</li>
            <li class= "link-list">Forums</li>
        </div>

        <div>
            <ul class= "title">More</ul>
            <li class= "link-list">On Demand</li>
            <li class= "link-list">Everywhere</li>
            <li class= "link-list">Upload</li>
            <li class= "link-list">Site Map</li>
        </div>

        <div>
            <ul class= "title">Upgrade</ul>
            <li class= "link-list">Vimeo</li>
            <li class= "link-list">Vimeo PRO</li>
            <li class= "link-list">Vimeo Buiness</li>
            <li class= "link-list">Refer A Friend</li>
        </div>


        
    </div>
</div>









<!--<div class= "9"></div>

<div class= "10"></div>

<div class= "11"></div>

<div class= "12"></div>

<div class= "13"></div>

<div class= "14"></div>

<div class= "15"></div>

<div class= "16"></div>-->

