<footer class="main-footer">


    <div class="upper-footer">
        <div class="listlink-box">

            <div class="footer-linklist col-sm-3">
                <h4 class="subtitle">Vimeo</h4>
                <ul class="footer-left">
                    <li><a href="">About Vimeo</a></li>
                    <li><a href="">Vimeo Blog</a></li>
                    <li><a href="">Vimeo Guidelines</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Jobs</a></li>
                </ul>
            </div>


            <!--EXPERIENCE-->
            <div class="footer-linklist col-sm-3">
                <div>
                    <h4 class="subtitle">Help</h4>
                    <ul class="footer-left">
                        <li><a class="" href="">Help Center</a></li>
                        <li><a class="" href="">Video School</a></li>
                        <li><a class="" href="">FAQ</a></li>
                        <li><a class="" href="">Forums</a></li>
                    </ul>
                </div>
            </div>

            <!--/////////////////////////////////// WORK IN PROGRESS /////////////////////////-->

            <div class="footer-linklist col-sm-3">
                <h4 class="subtitle">More</h4>
                <ul class='footer-left'>
                    <li><a href="">On Demand</a></li>
                    <li><a href="">Everywhere</a></li>
                    <li><a href="">Upload</a></li>
                    <li><a href="">Site Map</a></li>
                </ul>
            </div>

        </div>

        <!--///////////////////////////////////////////////////////////////////-->
            <div class="footer-linklist col-sm-3">
                <h4 class="subtitle">Upgrade</h4>
                <ul class='footer-left'>
                    <li><a href="">Vimeo Plus</a></li>
                    <li><a href="">Vimeo Pro</a></li>
                    <li><a href="">Vimeo Business</a></li>
                    <li><a href="">Refer a friend</a></li>
                </ul>
            </div>
    </div>
</footer>



























<!--<div class= "9"></div>

<div class= "10"></div>

<div class= "11"></div>

<div class= "12"></div>

<div class= "13"></div>

<div class= "14"></div>

<div class= "15"></div>

<div class= "16"></div>-->

