<nav-bar></nav-bar>

<div id='topBannerWrapper'>
	<div class='mainBlackBackground'>
		<img class='topBanner' src='./IMAGES/johnImages/bannerHome.jpg'>

		<div class='bannerDescriptWrapper'>
			<div class='bannerTitleMainPage'>Tall Bikes Will Save The World</div>
			<div class='bannerUserMainPage'><img ng-src='./IMAGES/johnImages/redBull.jpg'> from Red Bull</div>
			<div class='bannerDescriptMainPage'>It's dumb. It's fun. Hop on a tall bike with the Zenga bros to see the
				world differently.
			</div>

			<div class='gradient'></div>

		</div>
	</div>
</div>

<!-- <div ng-controller="mainCtrl">
      <a href="{{data}}"><button>Login</button></a>
</div>

<a ui-sref="userVideos">temp to userVideos</a>
<a ui-sref="search">temp to search</a> -->

<div class='mainPageWhiteBackground'>
	<div class='mainPageChannelsWrapper'>
		<div class='mainPageChannels'>

			<div class='mainPageChannelInfo'>
				<div class='mainPageBottomWhite'>
					<div class='mainPageTopBlack'></div>

					<div class='mainPageChannelPic'><img class='testImage'
					                                     src='./IMAGES/johnImages/placeholderStaff2.svg'></div>

					<div class='mainPageDescriptionWrapper'>
						<div class='mainPageChannelName'>Vimeo Staff Picks</div>
						<div class='mainPageChannelDescription'>We really love videos, and these are the videos we
							really, really love.
						</div>
						<a href="{{data}}">	<div class='mainPageChannelFollow'ng-click="login()">Follow</div></a>


					</div>

				</div>
			</div>

			<div class='mainPageVideosWrapper'>
				<div class='mainPageVideos' ng-repeat='picks in staffpicks' ng-click="playVideo(picks.embed.html, picks.uri)">
					<img class='placeholderVideo' ng-src='{{picks.pictures.sizes[5].link}}'>
					<div class='vidNameMainPage'>{{picks.name}}</div>
					<div class='userAndViewsWrapperMainPage'>
						<span>{{picks.user.name}}</span>
						<span class='searchPlaysMainPage'>{{picks.stats.plays | number:fractionSize}} plays</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<footer-dir></footer-dir>
