<div class='navBarWrapper'>
	<div class='navBarInnards'>
		<img src='./IMAGES/johnImages/vimeo_logo_dark.png' class='vimeoLogo'>
		<div>Manage videos <span class='arrows'>▼</span></div>
		<div>Watch <span class='arrows'>▼</span></div>
		<div>On Demand <span class='arrows'>▼</span></div>
		<div>Upgrade</div>
		<input class='searchBar'></input>
		<img src='./IMAGES/johnImages/mag-glass.png' class='magGlass'>
		<div class='profilePic'></div>
		<div class='uploadButton'><span class='cloud'>☁</span>Upload</div>
	</div>
</div>
