<nav-bar></nav-bar>

<div class="video-window"></div>

<!--==========================================================================-->
<!--==========================================================================-->

<div class="vid-lower-wrapper">
    <div class="vid-lower-left">


        <div class="title-outer-wrapper">
            <div class="title-wrapper">
                <div class="title-box">
                    <div class="vid-title">
                        THE WEEKEND - "Party Monster"
                    </div>
                    <div class="vid-rating">
                        MATURE
                    </div>
                </div>
                <div class="user-info">
                    <div class="from">
                        from BRTHRPRO
                    </div>
                    <div class="days-ago">
                        5 Days ago
                    </div>
                </div>
                <div class="follow-wrapper">
                    <div class="user-icon"></div>
                    <button class="follow-btn">+ Follow</button>
                </div>
            </div>
        </div>
        <!--==========================================================================-->
        <!--==========================================================================-->



        <div class="disc-outer-wrapper">
            <div class="disc-wrapper">
                <div class="disc-topbar">

                    <div class="disc-stats">
                        plays: 1,751 likes: 218 albums: 8 comments: 7
                    </div>
                    <div class="share-btn">
                        SHARE
                    </div>
                </div>

                <div class="vid-disc"> Director/Edit/Color- BRTHR </br>
                    Producer- Sara Greco</br>
                    Line Producer- Jamee Ranta</br>
                    Prod Co.- Strangelove</br>
                    Creative Director: La Mar C. Taylor</br>
                    DP: Erik H</br>
                    AD- Kenneth Arnold Taylor</br>
                    Prod Design- Lauren Nikrooz</br>
                    VFX- Gloria FX</br>
                    Additional VFX- Kwan Au, Mikhael Villegas, BRTHR</br>
                    Title Design- Mikhael Villegas</br>
                    full credits on end title card</br>
                </div>
            </div>
        </div>



    </div>









    <!--==========================================================================-->

    <div class="vid-lower-right">

    </div>
</div>

















<!--==========================================================================-->
<!--==========================================================================-->














<!--<div class="playVid-page">-->

<!--_______________________________________________________________________________________________-->


<!--<div class="left-content">-->

<!--_______________________________________________________________________________________________-->
<!--<div class="inner-left-content">-->
<!--<div class="heading-wrapper">
            <div class="vid-title">Trash Cat</div>
            <div class="clip-info">from {{user}} | {{date}} years ago | more</div>

            <div class="follow-wrapper">
                <div class="user-icon"></div>
                <button class="follow-btn">+ Follow</button>
            </div>

        </div>-->

<!--_______________________________________________________________________________________________-->
<!--<div class="details-wrapper">
            <div class="clip-details">My senior film that I made at SCAD! It"s about a cat that likes to knock over trashcans. :3 Make sure to stay
                through the credits! For a longer version of the edit credits, visit Zack Bogucki"s SoundCloud! It"s also
                free for download! soundcloud.com/zack-bogucki
                <button type="submit">Share</button>
            </div>
        </div>-->
<!--_______________________________________________________________________________________________-->

<!--<div class="clip-category">
            <div>
                # of categories
            </div>

            <div class="btn-wrapper">
                <button class="category-btn">Animation</button>
                <button class="category-btn">2D</button>
            </div>
        </div>-->

<!--_______________________________________________________________________________________________-->
<!--<div class="comments-wrapper">
            <h3 class="comments-title"> ### Comments</h3>
        </div>

        <div class="comment-content">
            <img src="" alt="" class="user-pic">

            <div class="comment-details">

                <strong><h5 href="" class="user-name">{{}}USER XYZ</h5></strong>
                <h5>-- years ago </h5>

                <div class="user-comment">USER COMMENT</div>
            </div>
            <a class="reply-tag">Reply</a>

        </div>


    </div>-->
<!--_______________________________________________________________________________________________-->


<!--

    <div class="right-content-wrapper">

        <div class="right-content">right-content

            <div class="search-results">search-results</div>
            <div class="autoplay-toggle">Autoplay next video</div>

            <div>
                <hr>


                <div class="next-video" ng-repeat="vids in videos">
                    <div class="vid-thumbnail">
                        vid-thumbnail
                    </div>

                    <div class="vid-title">

                        <h4>Title</h4>
                        <h5>Sub-Title</h5>
                    </div>


                </div>
            </div>

            <div class="show-more-btn">
                <button type="submit">Show More...</button>



            </div>
        </div>
    </div>
</div>-->





<footer-dir></footer-dir>

