<nav-bar></nav-bar>


<div class="video-window">video-window</div>

<div class="playVid-page">

    <!--_______________________________________________________________________________________________-->


    <div class="left-content">

        <!--_______________________________________________________________________________________________-->
        <!--<div class="inner-left-content">-->
        <div class="heading-wrapper">
            <div class="vid-title">Trash Cat</div>
            <div class="clip-info">from {{user}} | {{date}} years ago | more</div>
            
        <div class="follow-wrapper">
            <div class="user-icon"></div>
            <button class="follow-btn">+ Follow</button>
        </div>
        
        </div>

        <!--_______________________________________________________________________________________________-->
        <div class="details-wrapper">
            <div class="clip-details">My senior film that I made at SCAD! It's about a cat that likes to knock over trashcans. :3 Make sure to stay
                through the credits! For a longer version of the edit credits, visit Zack Bogucki's SoundCloud! It's also
                free for download! soundcloud.com/zack-bogucki
                <button type="submit">Share</button>
            </div>
        </div>
        <!--_______________________________________________________________________________________________-->

        <div class="clip-category">
            <div>
                # of categories
            </div>

            <div class="btn-wrapper">
                <button class="category-btn">Animation</button>
                <button class="category-btn">2D</button>
            </div>
        </div>

        <!--_______________________________________________________________________________________________-->
        <div class="comments-wrapper">comments-wrapper
            <!--<div class="comments-title">{{}}comment-title {{143}} Comments</div>-->
        </div>
        <!--_______________________________________________________________________________________________-->

        <div class="comment-content">
            <!--<a href="" class="comment-name">comment-name {{}}USER XYZ</a>
            <p> --- years ago P comment-content tag</p>
        </div>-->

            <div class="user-comment">USER COMMENT</div>

        </div>
        <!--_______________________________________________________________________________________________-->
    </div>
    <!--</div>-->
    
    
    <div class="right-content-wrapper">

        <div class="right-content">right-content

            <div class="search-results">search-results</div>
            <div class="autoplay-toggle">Autoplay next video</div>

            <div>
                <hr>


                <div class="next-video" ng-repeat="vids in videos">
                    <div class="vid-thumbnail">
                        vid-thumbnail
                    </div>

                    <div class="vid-title">

                        <h4>Title</h4>
                        <h5>Sub-Title</h5>
                    </div>


                </div>
            </div>

            <!--<div class="show-more-btn">            
                <button type="submit">Show More...</button>
            -->

            <!--</div>
        </div>-->
        </div>
    </div>
</div>





<footer-dir></footer-dir>