<nav-bar></nav-bar>

<div class="video-window"></div>

<!--==========================================================================-->
<!--==========================================================================-->

<div class="vid-lower-wrapper">
    <div class="vid-lower-left">
        <div class="title-outer-wrapper">
            <div class="title-wrapper">
                <div class="title-box">
                    <div class="vid-title">
                        {{media.name}}
                    </div>
                    <div class="vid-rating">
                        VID-RATING
                    </div>
                </div>
                <div class="user-info">
                    <div class="from">
                        {{media.app.name}}
                    </div>
                    <div class="days-ago">
                      {{momentTime}}
                    </div>
                </div>
                <div class="follow-wrapper">
                    <img class="user-icon" ng-src="{{media.user.pictures.sizes[3].link}}">
                    <button class="follow-btn"><i class="fa fa-plus" aria-hidden="true"></i>Follow</button>
                </div>
            </div>
        </div>
        <!--==========================================================================-->
        <!--==========================================================================-->
        <div class="disc-outer-wrapper">
            <div class="disc-wrapper">
                <div class="disc-topbar">
                    <div class="disc-stats">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        <div>{{media.stats.plays}}</div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <div>{{media.metadata.connections.likes.total}}</div>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <div>6</div>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        <div>{{media.metadata.connections.comments.total}}</div>
                    </div>


                    <div class="share-btn">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <div class="share">
                            Share
                        </div>
                    </div>
                </div>

                <div class="vid-disc">{{media.description}}
                </div>
            </div>
        </div>
        <!--==========================================================================-->
        <!--==========================================================================-->

        <div class="category-outer-wrapper">
            <div class="category-wrapper">
                <div class="clip-category">
                    <div class="category">
                        2 categories
                    </div>

                    <div class="btn-wrapper">
                        <button class="category-btn">Animation</button>
                        <button class="category-btn">2D</button>
                    </div>
                </div>
            </div>
        </div>
        <!--==========================================================================-->
        <!--==========================================================================-->

        <div class="comments-outer-wrapper">
            <div class="comments-wrapper">
                <div class="comments-title">{{media.metadata.connections.comments.total}} Comments</div>
                <div class="previous-comments-bar">
                    + Load 100 previous comments
                </div>
                <div class="comment-content"ng-repeat= "data in comments">
                    <img src="{{data.user.pictures.sizes[3].link}}"class="user-pic">
                        <div class="main-comment-box">
                        <div class="comment-details">
                            <div class="user-name">{{data.user.name}}</div>
                            <div class="post-date">created on: {{data.created_on | date :  "dd.MM.y"}}</div>
                        </div>

                        <div class="user-comment">
                            {{data.text}}
                        </div>
                        <a class="reply-tag">Reply</a>
                    </div>
                </div>
                <div class="comment-box-container">

                    <input class="comment-box" type="text" ng-model="text" name="comment-input" placeholder="Add a comment">
                    <button class="comment-submit" ng-click="addComment()">Add comment</button>



                </div>
            </div>
        </div>
    </div>
    <!--==========================================================================-->
    <!--==========================================================================-->

    <div class="vid-lower-right">
        <div class="right-content">
            <div class="search-results">More from Vimeo Staff Picks</div>
            <div class="autoplay-toggle"><i class="fa fa-toggle-on" aria-hidden="true"></i>&nbsp;Autoplay next video</div>
            <hr>


            <div class="next-video" ng-repeat="media in staffpicks">
                <img class="vid-thumbnail" ng-class="{ 'blue-border' : $index === 0}" ng-src="{{media.pictures.sizes[5].link}}" ng-click="playVideo(media.embed.html, media.uri)">

                <div class="vid-title">
                    <h5><strong>{{media.name}}</strong></h5>
                    <h6>From {{media.user.name}}</h6>
                </div>

            </div>

        </div>

        <div class="show-more-box">
            <button class="more-btn" type="submit">Show More...</button>
        </div>


    </div>
</div>


<footer-dir></footer-dir>
