<nav-bar></nav-bar>

<div class="uploadTopWrapper">
	<div class="uploadTitle">Upload your videos</div>
</div>

<div class="searchLowerWrapper">

	<div class="searchLeft">
		<img src="./IMAGES/johnImages/vimeoEditVideos.jpeg">
		<div class="searchRulesWrapper">
			<div class="searchRulesTitle">Only upload videos that:</div>
			<div class="searchRulesSub">
				<ol>
					<li>You have the right to upload.</li>
					<li>Are allowed on Vimeo.</li>
				</ol>
				<div class="searchUnderList">Still have questions?</div>
				<div class="searchUnderList">Read our video or compression guidelines. For 360 video, visit our
					Help
					Center.
				</div>
			</div>
		</div>
	</div>

	<div class="searchRight">
		<div class="searchRightTopWrapper">
			<img src="./IMAGES/johnImages/Cloud_Upload.png" class="cloudSymbol">

			<!--<form method="POST" action="{{link}}" enctype="multipart/form-data" id="videoform">-->
				<input type="file" name="file_data" ng-model="video">
			<!--</form>-->
			<button ng-click="getAccessToken()">Upload</button>

		</div>
	</div>

</div>

<footer-dir></footer-dir>
