<nav-bar></nav-bar>

<div class="uploadTopWrapper">
      <div class="uploadTitle">Upload your videos</div>
</div>

<div class="searchLowerWrapper">

      <div class="searchLeft">
            <img src="./IMAGES/johnImages/vimeoEditVideos.jpeg">
            <div class="searchRulesWrapper">
                  <div class="searchRulesTitle">Only upload videos that:</div>
                  <div class="searchRulesSub">
                        <ol>
                              <li>You have the right to upload.</li>
                              <li>Are allowed on Vimeo.</li>
                        </ol>
                        <div class="searchUnderList">Still have questions?</div>
                        <div class="searchUnderList">Read our video or compression guidelines. For 360 video, visit our
                                                     Help
                                                     Center.
                        </div>
                  </div>
            </div>
      </div>

      <div class="searchRight">
            <div class="searchRightTopWrapper">
                  <img src="./IMAGES/johnImages/Cloud_Upload.png" class="cloudSymbol">
                  <video width="320" height="240" controls>
                        <source src="//player.vimeo.com/video/219710531?title=0&portrait=0&byline=0&autoplay=1&loop=1"
                                type="video/mp4">
                  </video>
                  <!--<form method="POST" action="{{link}}" enctype="multipart/form-data" id="videoform">&ndash;&gt;-->
                  <input type="file" file-uploader="myFile"/>
                  <!--</form>-->
                  <!--<button ng-click="uploadFile()" type="submit" form="videoform" value="Submit">Upload</button>-->
                  <!--<input type="text" ng-model="video" placeholder="enter a url"/>-->
                  <button ng-click="uploadFile()">Upload</button>
            </div>
      </div>

</div>

<footer-dir></footer-dir>
