<nav-bar></nav-bar>

<div class='editVideoWrapper'>
<div class='editVideo'>
  <div class='topVideosWrapper'>
  <div class='videosTitle'>Videos</div>
  <input class='editVideoSearch' placeholder="Search">
  </div>
  <div class='editVideoTableWrapper'>
  <div class='titleEdit'>Title</div>
  <div class='addedEdit'>Added</div>
  <div class='durationEdit'>Duration</div>
  <div class='privacyEdit'>Privacy</div>
  </div>
  <div class='editVideoLowerWrapper'>
    <div class='thumbnailDimensions'></div>
    <div class='videoName'>fantastic beasts and where</div>
    <div class='addedEdit'>Added</div>
    <div class='durationEdit'>Duration</div>
    <div class='privacyEdit'>Privacy</div>
  </div>
</div>
<img src='./IMAGES/johnImages/vimeoEditVideos.jpeg' class='editVideoPic'>
</div>

<button ng-click="userVideos()">Show Videos</button>
<div ng-repeat="x in videos">
  {{x}}
</div>

<footer-dir></footer-dir>
