* {}

.main-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #F2F4F5;
    

    ul {
        background: #F2F4F5;
        // background:black;
        li {
            list-style: none;
            margin-bottom: 10px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}
.upper-footer {
    width: 100%;
    padding: 25px 30px;
    background-color:  #F2F4F5;
    border-top: 1px solid #D0D8DB;
    border-bottom: 1px solid #D0D8DB;
    box-sizing: border-box;
}
.title {
    font-size: 25px;
    padding-bottom: 10px;
}
.subtitle {
    color: black;
    font-size: 18px;
    padding-bottom: 15px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.footer-linklist {
    float: left;
    width: 25%; // background: yellow;
}
.listlink-box {
    width: 40%;
}
.bottom-footer {
    clear: left;
    text-align: center;
}
.footer-box {
    position: relative;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    float:right;
    width: 340px;
    min-height: 147px;
    margin:2%;
    background-color: #F2F4F5;
    border-top: 1px solid #D0D8DB;
    border-bottom: 1px solid #D0D8DB;
    box-sizing: border-box;

    .footer-title {
        margin:15px;

        }
    .footer-subtitle{
        margin:15px;
    }

}
.lower-outer-box{
    width:100%;
    display: flex;
    flex-direction: row;

}
.lower-bar-left{
    width:50%;
    margin:0px;

}
.lower-link-left{
    display:flex;
    justify-content: space-around;
    margin:10px;
    font-size: 10px;
    padding:5px;
    width: 70%;

    a{
    display:flex;
    }
}
.lower-bar-right{
    display:flex;
    justify-content: flex-end;
    width:50%;
}
.lower-link-right{
    display:flex;
    justify-content: space-around;
    width:25%;
    margin:10px;
    font-size: 10px;
    padding:5px;

}

