.outer-container{
    border: 1px solid orange;
}

.inner-container{
    border:1px solid purple
    ;
}

// .vimeo .help .more .upgrade{
//         border: 1px solid green;
// }

.title{
    border:1px solid red;
}

.link{
        border: 1px solid fuchsia;
        background: yellow;
        color:white;
}

