*{
    text-decoration: none;
    list-style:none;
}

.main-footer{
    width: 100%;
    margin:0 auto;
    // max-width: 1260px;
    // text-align:left;
    display:flex;
    flex-direction: column;
    padding:40px;
    margin-top:50px;
    background: purple;


    ul {
        padding: 0;
        background:greenyellow;
        // background:black;
    }   


}
    li{
        color:black;
    }

.upper-footer{
    width:100%;


}

.title{
    font-size:25px;
    padding-bottom: 10px;
}


.subtitle{
    color: black;
    font-size:18px;
    padding-bottom:15px;
}
.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-linklist {
    float: left;
    width: calc(100% / 3);
    // background: yellow;

}
.listlink-box {
    width:60%;


}

.bottom-footer{
    clear:left;
    text-align: center;
}





