// *{

// }

.playVid-page{
    display: flex;
    justify-content: center;
    // align-items: center;
    width:70%;
    margin:auto;
    color:white;
    flex-direction:row;

}

.video-window{
    background:  black;
    width:100%;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;

}



// _______________________________________________________________________________________________

.left-content{

    width:65%;
    // height: 50px;
        background:green;
        display:flex;
        justify-content: center;
        flex-direction:column;


.heading-wrapper{
    background:	blue;
    width:100%;
    height: 200px;




    .vid-title{	
        
        background: #00FA9A;
        width:100%;
        height: auto;
        font-size: 50px;
        // overflow: none;
            // display:flex;
            // justify-content: center;
            // align-items: center;        
        }

    .clip-info{

        background: #778899;
        width:100%;
        height: 50px;
            // display:flex;
            // justify-content: center;
            // align-items: center;
    }

    .follow-btn{

        background:	#87CEFA;
        width:100px;
        height: 50px;
            font-size: 20px;
    }
}





// // _______________________________________________________________________________________________

.details-wrapper{
    width:100%;
    height: 200px;
    background: #A52A2A;
        display:flex;
        justify-content: center;
        align-items: center;

    .clip-details{
        width:100%;
        height: 100%;
        background: green;
            display:flex;
            // justify-content: center;
            align-items: center;
    }

//     .submit{
//         width:100%;
//         height: 50px;
//         background:#8A2BE2;
//             display:flex;
//             justify-content: center;
//             align-items: center;
//     }
}


// // _______________________________________________________________________________________________


.clip-category{
    display:flex;
    align-items: center;
    height:200px;   
    background:purple; 


    
    .category-btn{
        width:100%;
        height: 50px;
        background:	#BDB76B;
            // display:flex;
            // justify-content: center;
            // align-items: center;
    }
    
}



// // _______________________________________________________________________________________________



.comments-wrapper{
    width:100%;
    height: 200px;
    background: #FF1493;
            display:flex;
            align-items: center;

//     .comments-title{
//         width:100%;
//         height: 50px;
//         background: #FFD700;
//             display:flex;
//             justify-content: center;
//             align-items: center;
//     }

}



// // _______________________________________________________________________________________________
.comment-content{

    width:100%;
    height: 200px;
    background: #ADFF2F;
            display:flex;
            align-items: center;
    
//     .comment-name{

//         width:100%;
//         height: 50px;
//         background: #4B0082;
//             display:flex;
//             justify-content: center;
//             align-items: center;
//     }

    .user-comment{
        color: red;
        background:#DB7093;
            display:flex;
            align-items: center;
        }
}
}



// // _______________________________________________________________________________________________

.right-content{
    width:35%;
    height: auto;
    background: gold;
            // display:flex;
            // justify-content: center;
            // align-items: center;
            float:left;
}

// .search-results{
//     width:100%;
//     height: 50px;
//     background: #3CB371;
//             display:flex;
//             justify-content: center;
//             align-items: center;
// }

// .autoplay-toggle{
//     width:100%;
//     height: 50px;
//     background:#CD853F;
//             display:flex;
//             justify-content: center;
//             align-items: center;
// }

.next-video{
    width: 325px;
    height: 90px;
    background:	#008080;
            display:flex;
            color:red;
            margin:20px;
            display:flex;
            align-items:center;
}

.vid-thumbnail{
    height:90px;
    width:150px;
    background:purple;
}

.vid-title{
    margin-left: 15px;

}
// .show-more-btn{
//     width:100%;
//     height: 50px;
//     background: #40E0D0;
//             display:flex;
//             justify-content: center;
//             align-items: center;
// }

// .submit{
//     width:100%;
//     height: 50px;
//     background: #FFFF00;
//             display:flex;
//             justify-content: center;
//             align-items: center;
// }
