.searchPageWrapper{
  width: 1250px;
  margin: 0 auto;
}

.searchLeftWrapper{
  width: 200px;
  float: left;
  margin-top: 98px;
  margin-left: 30px;
}

.searchRightWrapper{
float:right;
width: 1020px;
margin-top: 98px;
display: flex;
flex-wrap: wrap;
}

.searchVideos{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.searchImage{
  width: 320px;
  height: 179.953px;
}

.searchleftTitles{
  font-weight: 700;
  font-size: 17.5px;
  margin-bottom: 13px;
}

.searchLeftLists{
  border-radius: 50%;
}

.searchList{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #333;
}

.searchInput{
  position: absolute;
  visibility: hidden;
}

.searchLeftList{
  font-weight: 400;
  margin-bottom: 7px;
}

.searchBorder{
  border-bottom: 1px solid #E3E8E9;
  width: 80%;
  margin: 20px 0;
}

.vidName{
  margin-top:10px;
  color: #3A5161;
  font-weight: 700;
  max-width: 320px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userAndViewsWrapper{
  width:320px;
  color: #879CAB;
  cursor:pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size:12px;
}

.searchPlays{
  border-left: solid 1px #D0D8DB;
  margin-left:3px;
  padding-left: 6px;
}
